.c-basemap-layer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  > img {
    width: 242px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: $margin_huge;
  }

  > div {
    text-align: right;
    text-transform: uppercase;
    font-size: $typo_kitten;
  }
}
