.sg_sidebar {
  background: $white;
  overflow-y: scroll;
  border-right: $base-border;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    border-top: 1px solid transparentize($white, 0.8);
    line-height: $heading-line-height;
  }
  a:not(.logo) {
    text-transform: capitalize;
    display: block;
    color: $grey;
    font-size: $typo_cat;
    text-decoration: none;
    padding: $margin_small/3 0;
    padding: $margin;
    transition: all $base-timing $base-duration;
    margin-left: $margin_large;

    &:before {
      @extend .icon;
      content: 'remove';
      display: inline-block;
      line-height: 1;
      vertical-align: sub;
      margin-right: $margin_small;
      margin-left: -$margin_large;
    }

    &.active {
      font-weight: $font-weight-bold;
    }

    &.active:before {
      content: 'arrow_forward';
    }

    &:hover,
    &.active {
      color: $black;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    padding: $margin_large $margin;
    color: $black;
    text-transform: capitalize;
    font-size: $typo_sparrow;
    font-weight: 700;
    text-decoration: none;

    .icon {
      height: 3rem;
      width: 3rem;
      flex: 0 0 auto;
      margin-right: $margin;
      overflow: hidden;

      img {
        width: 3rem;
        height: 3rem;
      }
    }
    .title {
      font-size: $typo_cat;
      margin-bottom: 0;
    }
  }
  .group {
    border-top: 1px solid transparentize($white, 0.8);
    padding-bottom: $margin;

    .group_title {
      font-family: $font-family-2;
      font-size: $typo_hawk;
      font-weight: $font-weight-bold;
      padding: $margin;
      padding-bottom: $margin_small;
      margin-bottom: 0;
    }
    li {
      border-top: none;

      a {
        padding: $margin_small/2 $margin;
      }
    }
  }
}
